<!DOCTYPE html>
<html lang="en">
<link href="/css/main.css" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>Post Manager</title>
</head>

<body>
<h1 align="center">Welcome to the PostManager application!</h1>
<p align="center">Here you can update and manage the list of posts accessible from the public API.</p>
<p align="center">Once you have downloaded the list, you can filter, edit and delete selected posts.</p>
<p align="center">Posts are automatically updated every 24 hours.</p>

<div align="center">
    <button type="button"><a href="/update">Download post list</a></button>
</div>
</body>
</html>